.textarea {
    position: fixed;
    left: 50px;
    right: 50px;
    bottom: 40px;
    font-size: 20px;
    padding: 20px;
    background-color: transparent;
    color: white;
  
    :focus {
      border: 1px #2f92df;
    }
  }